*{
    box-sizing: border-box;
}
body{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.images{
    padding: 20px;
}
.nav-item{
    text-transform: uppercase;
}
.content{
    text-align: center;
    margin-top: 100px;
    color: #fff;
}
.content h1{
    font-size: 80px;
}
.content p{
    padding: 10px;
}
.button a{
    border: 1px solid black;
    padding: 10px;
    color: #fff;
    background-color: green;
    text-transform: uppercase;
}
.second{
    border: 1px solid black;
    margin: 30px;
    background-color: #fff; 
}
.four{
    text-align: center;
    margin-top: 12px;
    justify-content: center;
    text-transform: capitalize;
    background-color: #fff;
    padding: 30px;
}
.four h4{
    text-align: left;
}
.four p{
    text-align: left;
}
.four img{
    max-width: 200px;
}
.five{
background-image: url(../images/second.webp);
background-repeat: no-repeat;
background-size: cover;
text-transform: capitalize;
font-weight: bold;
text-align: left;
padding: 30px;
color: white;
}
.five h1{
    font-size: 60px;
}
.five span{
    color: green;
}
.five p{
    text-transform: capitalize;  
    font-size: 20px;  
}
.num h2{
    color: green;
    font-size: 60px;
}
.num small{
    font-size: 20px; 
}
.six{
    text-align: center;
    padding: 30px;
    text-transform: capitalize;
    background-color: #fff;
}
.six span{
    padding: 10px;
}
.round img{
    max-width: 100px;
    border-radius: 50%;
}
.r1 img{
    max-width: 100px;
    border-radius: 50%;
}
.seven{
    background-image: url(../images/imag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    justify-content: center;
    padding: 30px;
    display: flex;
}
.seven h2{
    color: green;
}
.seven span{
    color: white;
}
.form{
    background-color: rgba(0, 0, 0, 0.5); 
}


input[type=text], input[type=number], input[type=submit], input[type=email],  .form select, button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #fff;
    color: #000000;
    padding: 20px;
  }

  ::placeholder {
    color: #000000;
    opacity: 1; 
  }
  .eight{
    padding: 40px;
   text-align: left;
    background-color: #fff;
}
.eight h2{
    text-align: center;
}
.eight img{
    max-width: 300px;
    padding: 20px;
}
.eight h4{
    color: grey;
    text-transform: capitalize;
    font-size: 20px;
    padding: 10px;
}
.eight h3{
    color: blue;
    text-transform: capitalize;
    font-size: 25px;
    padding: 10px;   
}
.eight small{
    color: green;
    text-align: left;
}
.logo{
    padding: 20px;
    background-color: grey;
}
.logo img{
    padding-left: 60px;
}
.about{
    
    background-color: lightblue;
    padding: 30px;
text-align: left;
    color: #fff;
    font-size: 10px;
}
.about a{
    color: #fff;
    
}
.submenu{
    font-size: 10px;
    color: #fff;
}
.submenu a{
    padding: 10px;
    color: #fff;
}
.about h3{
    padding: 10px;
    text-align: left;
    font-size: 10px;
}
.about a{
    padding: 10px;    
}
.news{
    justify-content: left;
}
.about span{
    color: grey;
    padding: 10px;
}
.about h2{
    font-size: 20px;
}
.about p{
    padding: 9px;
}
.about h4{
    text-align: left;
}
.footer{
    background-color:blue;
    text-align: center;
}
.footer a{
    border: 1px solid black;
}

